<h1>About Page</h1>
<p>DeeThree Brewing Ltd. is a microbrewery nestled in bustling heart of Burnaby, British Columbia. We pride ourselves on our quality ingredients, creative combinations, and undying commitment to memes and alliteration in our naming convention.</p>

<p>DeeThree was founded in 2016 by Mariia and MD, whose shared passion for quality craft beer inspired them to make their own. What started as a pet project in MD’s garage soon blossomed into a growing business with encouragement from their friends and family. DeeThree now brews nine different kinds of beer year round, as well as three seasonal brews, and ships to stores and bars all over the Greater Vancouver Area. </p>

<p>This site was created by Mariia Taranova and MD McCullough for their Web Programming 4 final project in Digital Design and Development at BCIT, 2016.
</p>