<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="beer-images">
      <img ng-src="{{mainImageUrl}}">
    </div>
    <ul class="beer-thumbs list-unstyled">
      <li ng-repeat="img in beer.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1 id="title">{{beer.title}}</h1>
    <p>{{beer.description}}</p>
    <hr>
    <ul class="specs list-unstyled">
      <li>
        <span>Details</span>
        <dl>
          <dt>Inventory</dt>
          <dd>{{beer.inventory}}</dd>
        </dl>
           <dl>
          <dt>Alcohol</dt>
          <dd>{{beer.alcohol}}</dd>
        </dl>
             <dl>
          <dt>Price</dt>
          <dd>{{beer.price | currency:"$"}}</dd>
        </dl>
             <dl>
          <dt>Volume</dt>
          <dd>{{beer.vol}}</dd>
        </dl>
      </li>
        <li>


  <label for="qty">Select number of cans:</label>
<input type="number" name="input" id="qty" ng-model="beer.qty"
           min="1" max="{{beer.inventory}}"  required>
        
        </li>
        
        <li>

            <br/>
            <button id="add" class="btn" ng-click="addItem(beer)">Add to Cart</button>
        
        </li>
        
    </ul>
      
      <!--starts-->
        <div class="alert alert-info" ng-controller="ratingCtrl"> <span class="label label-info">Rate the best flavor</span>

            <div star-rating rating="starRating3" click="click3(param)" mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)"></div>
            <div> <span class="label label-primary">Star Rating: {{starRating3}}</span>
 <span class="label label-primary">Hover Rating: {{hoverRating3}}</span>

            </div>
        </div>
      <!--stars finish-->
  </div>
</div>