<div class="grid beer-images" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 1 }'>
  <img ng-src="{{img}}"
       class="beer"
       ng-repeat="img in beer.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{beer.name}}</h1>

<p>{{beer.description}}</p>

<div class="grid-sizer beer-thumbs">
  <div ng-repeat="grid-item img in beer.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </div>
</div>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in beer.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{beer.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{beer.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{beer.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{beer.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{beer.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{beer.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{beer.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{beer.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{beer.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{beer.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{beer.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{beer.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in beer.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{beer.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{beer.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{beer.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{beer.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{beer.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{beer.hardware.usb}}</dd>
      <dt>Audio / headbeer jack</dt>
      <dd>{{beer.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{beer.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{beer.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{beer.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{beer.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{beer.additionalFeatures}}</dd>
  </li>
</ul>
